* {
    font-family: 'Varela Round', sans-serif;
}

$button-color: hsl(347, 100%, 54%);
$clear: rgba(0, 0, 0, .0);

button {
    display: inline-block;
    cursor: pointer;
    border: $button-color .09em solid;
    background-color: $clear;
    border-radius: 2em;
    box-shadow: inset 0 0 .8em 0 $button-color, 0 0 .8em 0 $button-color;
    position: relative;
    margin-bottom: 1.5rem;  
    font-size: 1.85rem;
    padding: .25em 1em;
    text-decoration: none;
    color: $button-color;
    text-shadow: 0 0 .225em hsl(0 0% 100% / .25), 0  0 .225em $button-color;
    &:hover {
        box-shadow: inset 0 0 .9em 0 $button-color, 0 0 .9em 0 $button-color;
    }
    &:active {
        box-shadow: inset 0 0 1.2em 0 $button-color, 0 0 1.2em 0 $button-color;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

input {
    height: 1rem;
}

$bg-color:	rgb(30, 30, 30);
$scrollbar-color: linear-gradient(#DE0100, #9f0045);
$scrollbar-hover: linear-gradient(#b90202, #940342);
$scrollbar-active: linear-gradient(#a40101, #7e0238);

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: $bg-color;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border-radius: 10px;
    &:hover {
        background: $scrollbar-hover;
    }
    &:active {
        background: $scrollbar-active;
    }
}

$indicator-color: linear-gradient(#DE0100, #b2004c);
$indicator-bg: rgb(30, 30, 30);

@mixin topSticky() {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.progress-container {
    width: 100%;
    height: 10px;
    background: $indicator-bg;
    @include topSticky();
    .progress-bar {
        height: 10px;
        border-radius: 10px;
        background: $indicator-color;
        width: 0%;
        @include topSticky();
    }
}